/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 20px/1.2 "Roboto", sans-serif;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    max-height: 95px;
}

.nav {
    margin: 0 -60px 0 0;
}

ul {
    display: flex;
    text-decoration: none;
}

li {
    list-style: none;
    margin: 0 62px 0px 0px;
    padding: 4px 0 0 0;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-in;
}

.nav a:hover {
    color: #ff0000;
}

.nav .active {
    color: #ff0000;
}

li .user-active {
    color: #00ff15;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h2 {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 5;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 -30px 0;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 0;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

h5 {
    font-size: 14px;
    font-weight: 300;
    line-height: 0;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.banner-part {
    height: 100vh;
    position: relative;
}

.banner-part::before {
    content: '';
    height: 100vh;
    display: block;
}

.banner-part::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%);
    mix-blend-mode: darken;
}

.bg-stretch {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content {
    position: relative;
    z-index: 999;
    max-width: 900px;
    color: #ffffff;
    padding: 0 180px;
    top: 55%;
    font-family: 'Roboto', sans-serif;
}

.overline-text {
    color: #ff0000;
    font-weight: bold;
    letter-spacing: 2px;
}

.btn {
    text-transform: capitalize;
    color: #121212;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.btn.primary {
    padding: 9px;
    background-color: #1c1c1c;
    color: #ffffff;
    border-radius: 22px;
    border: 1px solid #ffffff;
    min-width: 160px;
    transition: all 0.3s ease-in;
}

.btn.primary:hover {
    background-color: #e6e6e6;
    color: #1c1c1c;
    border: 1px solid #000000;
    box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
}

.btn.sign-in {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 10px 20px;
    margin: -10px 0 0 0;
    border-radius: 22px;
    border: 1px solid #000000;
    min-width: 84px;
    transition: all 0.3s ease-in;
}

.btn.sign-in:hover {
    background-color: #e6e6e6;
    color: #1c1c1c;
    border: 1px solid #000000;
    box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
}

.four-columns,
.two-columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 40px 0;
}

.two-columns .col {
    width: 50%;
    padding: 0 20px;
}

.two-columns .col.large-col {
    width: 66%;
}

.two-columns .col.sml-col {
    width: 34%;
}

.four-columns {
    margin: 0 -10px;
}

.four-columns .col {
    width: auto;
    flex: 1;
    padding: 0 10px;
}

.trending-part,
.estimated-part {
    background-color: #0e0e0e;
    text-align: center;
    padding-bottom: 40px;
}

.trending-detail {
    background-color: #121212;
    border-radius: 23px;
    overflow: hidden;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    transition: all 0.3s ease-in;
}

.trending-detail:hover {
    box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
}

.trending-part .col .trending-image {
    height: 320px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.trending-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-code {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    padding: 0 20px;
}

.latest-part,
.upcoming-part {
    background-color: #121212;
    text-align: center;
    padding-bottom: 40px;
}

.latest-detail,
.upcoming-detail {
    background-color: #121212;
    border-radius: 23px;
    overflow: hidden;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    transition: all 0.3s ease-in;
}

.latest-detail:hover,
.upcoming-detail:hover {
    box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
}

.latest-part .col .latest-image,
.upcoming-part .col .upcoming-image {
    height: 320px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.latest-content,
.upcoming-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-code,
.upcoming-code {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    padding: 0 20px;
}

.comment-part {
    background-color: #0e0e0e;
    text-align: center;
    padding-bottom: 40px;
}

.comment-bk {
    position: absolute;
    margin: 0 auto;
    left: 0;
    height: 350px;
}

.comment-bk img {
    object-fit: cover;
    height: 100%;
    width: auto;
}

.comment-detail {   
    position: relative;
    width: 312px;
    padding: 24px 10px;
    background-color: #121212;
    border-radius: 23px;
    overflow: hidden;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    transition: all 0.3s ease-in;
}

.comment-detail:hover {
    box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
}

.profile {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    height: 58px;
    width: 58px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img {
    object-fit: cover;
    height: 100%;
    width: auto;
}

.comment-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
}

.comment-content p {
    font-size: 12px;
}

.table-style {
    border-collapse: collapse;
    width: 100%;
    border-radius: 23px;
    overflow: hidden;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    transition: all 0.3s ease-in;
}

.table-style:hover {
    box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
}

.table-style td {
    padding: 23px 8px;
    text-align: center;
}

.table-style tr:nth-of-type(even) {
    background-color: #1c1c1c;
}

.table-style tr:nth-of-type(odd) {
    background-color: #191919;
}

.socials {   
    position: relative;
    width: 100%;
    padding: 14px 10px 0px 10px;
    background-color: #191919;
    border-radius: 23px;
    overflow: hidden;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.30);
    transition: all 0.3s ease-in;
}

.socials:hover {
    box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
}

.socials-content {
    padding: 18px 10px 24px 10px;
    display: flex;
    flex-direction: column;
}

.facebook {
    background-color: #3b5998;
    padding: 18px 8px;
    border-radius: 23px;
    overflow: hidden;
    margin-bottom: 10px;
}

.facebook:hover {
    box-shadow: 0px 0px 10px 10px rgba(29,89,152,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(29,89,152,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(29,89,152,0.45);
}

.twitter {
    background-color: #1da1f2;
    padding: 18px 8px;
    border-radius: 23px;
    overflow: hidden;
    margin-bottom: 10px;
}

.twitter:hover {
    box-shadow: 0px 0px 10px 10px rgba(29,161,242,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(29,161,242,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(29,161,242,0.45);
}

.reddit {
    background-color: #ff4500;
    padding: 18px 8px;
    border-radius: 23px;
    overflow: hidden;
    margin-bottom: 10px;
}

.reddit:hover {
    box-shadow: 0px 0px 10px 10px rgba(255,69,0,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(255,69,0,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(255,69,0,0.45);
}

.discord {
    background-color: #5865f2;
    padding: 18px 8px;
    border-radius: 23px;
    overflow: hidden;
    margin-bottom: 10px;
}

.discord:hover {
    box-shadow: 0px 0px 10px 10px rgba(88,101,242,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(88,101,242,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(88,101,242,0.45);
}

.more {
    background-color: #ff6550;
    padding: 18px 8px;
    border-radius: 23px;
    overflow: hidden;
}

.more:hover {
    box-shadow: 0px 0px 10px 10px rgba(255,101,80,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(255,101,80,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(255,101,80,0.45);
}

.footer-part {
    background-color: #121212;
    text-align: center;
    padding-bottom: 10px;
}

.footer-detail {   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 10px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 712px;
    border-bottom: 2px solid #fff;
}

.form-email {
    border: none;
    outline: 0;
    width: 100%;
    height: 20px;
    color: #fff;
    padding: 14px 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
}

.form-email::placeholder {
    color: #fff;
}

.subscribe-btn {
    background-color: #121212;
    cursor: pointer;   
    border: none;
    outline: 0;
    height: 30px;
    padding-top: 4px;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    transition: all 0.3s ease-in;
}

.subscribe-btn:hover {
    color: rgba(166,27,255,1)
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.links-style {
    height: 32px;
    width: 32px;
    margin: 0 10px;
    border-radius: 50%;
    overflow: hidden;
    border-radius: 50%;
}

.links-style img {
    object-fit: cover;
    height: 100%;
    width: auto;
}

.links-style:hover {
    box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
}

.footer-part .logo {
    padding: 10px 0;
}