/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 20px/1.2 "Roboto", sans-serif;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    max-height: 95px;
}

.nav {
    margin: 0 -60px 0 0;
}

ul {
    display: flex;
    text-decoration: none;
}

li {
    list-style: none;
    margin: 0 62px 0px 0px;
    padding: 4px 0 0 0;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.banner-part {
    height: 100vh;
    position: relative;
}

.banner-part::before {
    content: '';
    height: 100vh;
    display: block;
}

.banner-part::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%);
    mix-blend-mode: darken;
}

.bg-stretch {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content {
    position: relative;
    z-index: 999;
    max-width: 900px;
    color: #ffffff;
    padding: 0 180px;
    top: 55%;
    font-family: 'Roboto', sans-serif;
}

.overline-text {
    color: #ff0000;
    font-weight: bold;
}

.btn {
    text-transform: capitalize;
    color: #121212;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.btn.primary {
    padding: 9px;
    background-color: #1c1c1c;
    color: #ffffff;
    border-radius: 22px;
    border: 1px solid #ffffff;
    min-width: 160px;
    transition: all 0.3s ease-in;
}

.btn.primary:hover {
    background-color: #e6e6e6;
    color: #1c1c1c;
    border: 1px solid #000000;
    box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
}

.btn.sign-in {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 10px 20px;
    margin: -10px 0 0 0;
    border-radius: 22px;
    border: 1px solid #000000;
    min-width: 84px;
    transition: all 0.3s ease-in;
}

.btn.sign-in:hover {
    background-color: #e6e6e6;
    color: #1c1c1c;
    border: 1px solid #000000;
    box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
    -moz-box-shadow: 0px 0px 10px 10px rgba(166,27,255,0.45);
}