/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.top-container {
    padding: 15px 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: center;
}

.logo {
    width: 120px;
    height: 78px; 
}

.top-container ul {
    display: flex;
    text-decoration: none;
}

.top-container li {
    list-style: none;
    text-transform: uppercase;
    margin-right: 24px;
}

.top-container a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.top-container a:hover{
    color: rgb(228, 4, 4);
}

.banner-part {
    height: 100vh;
    position: relative;
}

.banner-part::before {
    content: '';
    height: 100vh;
    display: block;
}

.banner-part::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%);
    mix-blend-mode: darken;
}

.bg-stretch {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content {
    position: relative;
    z-index: 999;
    max-width: 600px;
    color: #ffffff;
    padding: 0 85px;
    top: 60%;
    font-family: 'Roboto', sans-serif;
}

.trending {
    font-weight: bold;
    color: rgb(4, 209, 89);
}

.banner-content p {
    margin-bottom: 30px;
}

.btn {
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.btn.primary {
    padding: 9px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 22px;
    border: 1px solid #ffffff;
    min-width: 160px;
}

/* //////////////////////////////// */
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container.lg {
    max-width: 1310px;
}

.four-columns{
    display: flex;
    flex-wrap: wrap;
}

.four-columns .col {
    width: auto;
    flex: 1;
    margin: 10px;
}

.book-image {
    height:250px;
    position: relative;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  */

}
.book-detail {
    border-radius: 13px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    border: 2px solid black;
}  
h2 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    line-height: 2;
    font-weight: 700;
    color: #010304;
}
h3 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px;
}

.button-wrap{
    margin-bottom: 10px;
} 
.book-image ,img{
object-fit: cover;
    height: 100%;
  
}